.chateo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 20rem;
}

.chateo fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 2rem;
    box-shadow: 0 1.2rem 1rem rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.chateo:hover {
    transform: scale(1.03);
}

.chateo fieldset p {
    margin: 0;
    text-align: center;
}