<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <form class="chateo" method="POST">
        <fieldset> <p>Enviar mensaje<p>
            <input type="text" name="mensaje" placeholder="Hola Chatbot!">
            <button type="submit"> Enviar </button>
        </fieldset>
    </form>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>